@import url(./fonts.css);
@import url(./reset-normalize.css);
@import url(./support.css);
@import url(./aio.css);

html {
  font-family: "Inter-Bold";
}

header,
main,
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */
header {
  background: #d9d9d9;
  padding-top: 33px;
}
.navigation {
  width: 1360px;
}
header nav {
  width: 418px;
  height: 47px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.41);
}
header .navigation > a {
  margin-right: 218px;
}
header li {
  text-align: center;
  width: 100px;
}
header .info {
  padding-top: 320px;
  width: 1000px;
  margin-bottom: 50px;
}
header .title {
  width: 500px;
}
header .title > a {
  color: #000;
  font-size: 15px;
  text-decoration: underline;
}
header .title > h1 {
  margin-top: 10px;
  margin-bottom: 30px;
}
header button {
  width: 218px;
  height: 46px;
  background: #db0a40;
  margin-bottom: 53px;
}
header .card {
  width: 142px;
}
header .p-bold {
  color: #000;
}
header p {
  padding-top: 4px;
  color: #424242;
}

/* Main */
main {
  gap: 450px;
  padding-top: 27px;
}
main .cards {
  width: 1360px;
}
main .card {
  width: 420px;
  height: 233px;
  border-radius: 0px 0px 10px 10px;
  background: rgba(0, 0, 0, 0.29);
  gap: 10px;
  padding-top: 50px;
}
main h3 {
  color: #fff;
}
main p {
  color: #fff;
  line-height: 25px;
}
main .card-footer {
  width: 352px;
  padding-top: 30px;
}
.h3-abs {
  top: 40px;
}
main > button {
  width: 251.174px;
  height: 53px;
  background: #212360;
  margin-top: -405px;
  margin-bottom: 64px;
}

/* Footer */
footer {
  justify-content: flex-start !important;
  background: #00162b;
  padding-top: 32px;
}
footer .logo {
  padding-right: 100px;
  margin-bottom: 33px;
}
footer p {
  color: #a6a6a6;
  font-family: "Inter-Regular";
  font-size: 14px;
  font-weight: 400;
}
footer .nav-menu {
  padding-left: 20px;
  margin-bottom: 70px;
}
footer li {
  width: 456px;
  margin-bottom: 20px;
}
