.abs {
  position: absolute;
}
.rel {
  position: relative;
}

.ta-center {
  text-align: center;
}
.flex-cen-ai-jc-cen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-cen-ai-cen-jc-start {
  display: flex;
  align-items: center;
  justify-content: start;
}
.flex-cen-ai-cen-jc-spbet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-cen-ai-bline-jc-start {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.flex-col-ai-jc-cen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-col-ai-left-jc-cen {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.flex-col-ai-jc-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.f-bold {
  font-family: "Inter-Bold";
}
.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-wgray {
  color: rgba(250, 250, 250, 0.49) !important;
}
.bc-dark {
  background-color: rgba(0, 0, 0, 0.49) !important;
}
.pdt-24 {
  padding-top: 24px;
}

.size-100 {
  width: 100%;
}
.size-90 {
  width: 90%;
}
.size-80 {
  width: 80%;
}
.size-70 {
  width: 70%;
}
.size-60 {
  width: 60%;
}
.size-50 {
  width: 50%;
}
.size-40 {
  width: 40%;
}
.size-30 {
  width: 30%;
}
.size-20 {
  width: 20%;
}

.gp-5 {
  gap: 5px;
}
.gp-10 {
  gap: 10px;
}
.gp-15 {
  gap: 15px;
}
.gp-20 {
  gap: 20px;
}
.gp-30 {
  gap: 30px;
}
.gp-40 {
  gap: 40px;
}
.gp-50 {
  gap: 50px;
}
.gp-60 {
  gap: 60px;
}

.mrb-10 {
  margin-bottom: 10px;
}
.mrb-15 {
  margin-bottom: 15px;
}
.mrb-20 {
  margin-bottom: 20px;
}
.mrb-25 {
  margin-bottom: 25px;
}
.mrb-30 {
  margin-bottom: 30px;
}
.mrb-40 {
  margin-bottom: 40px;
}
.mrb-50 {
  margin-bottom: 50px;
}
.mrb-60 {
  margin-bottom: 60px;
}
.mrb-70 {
  margin-bottom: 70px;
}
.mrb-80 {
  margin-bottom: 80px;
}
.mrb-120 {
  margin-bottom: 120px;
}
.mrb-160 {
  margin-bottom: 160px;
}

.mrr-20 {
  margin-right: 20px;
}
